.row-center-step4{
    justify-content:center;
display:flex;
}
.cardhandle-step4{
height:500px;
margin-top:35px;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
border-radius:0.8rem;
width:750px;
border:0px;
padding:15px;
padding-left: 25px;
padding-right: 25px;
}

.iconback-step4{
        width: 32.5px;
    height: 32.5px;
    margin-left: 22px;
  
}

.heading-one-step4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    justify-content:center;
    display:flex;
    margin-top:25px;
    color: #000000;
    margin-right: 455px;
    margin-top: 44px;
    }
.mainHeading-step4{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}

.car-btn{

border-radius: .25rem;
Width:65%;
height:30px;
background-color: #ffffff;
border:1px solid #007bff;
color: #007bff;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
margin-left:30px ;
}

.step4-progressBar{
    width:750px; 
    background: #E5E5E5;
     border-radius: 10px;
      margin-top:30px;
}
.car-btn:hover{
    background-color: #007bff;
    color: #ffffff;
}
.drop-down-step4
{
    width: 212px;
    margin-top:40px;

    }

    .base-btn-step4{
        background: #488BFF;
        border-radius: 8px;
        Width:161px;
        Height:49px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 171% */
        color: #FFFFFF;
        
        align-items: center;
        text-align: center;
        
        }

        @media only screen and (max-width: 1100px) {

        
            .heading-one-step4{
                margin-right:0px; 
                font-size: 20px;
            
            }
            .mainHeading-step4{
                font-size: 25px;
            }
            
            .car-btn{
            font-size: 12px;
            width: 65%;
            font-weight:700 ;
            }

            .card-row-step4{
                padding: 25px;
            }
                }

                @media only screen and (max-width: 800px) {

        
                    .step4-progressBar{
                        width: 340px;
                    }
                        }

                @media only screen and (max-width: 450px) {

                    .car-btn{
                        font-size: 8px;
                        width: 65%;
                        font-weight:700 ;
                        }
                }
                
                @media only screen and (max-width: 350px) {

                    .car-btn{
                        font-size: 8px;
                        width: 65%;
                        font-weight:900 ;
                        line-height: 10px;
                        }

                      
                }