.img_logo{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.nav-btn{
    width: 218px;
height: 60px;
margin-right: 57px;
margin-top: 20px;
float: right;
border: none;
background: #488BFF;
border-radius: 15px;
}
.nav-text{
    font-family: Montserrat;
    font-style: normal;
margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    
    }
