
.row-center{
    justify-content:center;
display:flex;
}

.heading-one{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 27px;
text-align: center;
justify-content:center;
display:flex;
margin-top:25px;
color: #000000;
margin-right: 401px;
    margin-top: 44px;
}
.input-field{
    width: 312px !important;
height: 48px;
/* 🔹 Solid / White */

background: #FFFFFF;
/* 🔲 Outline / Grey / Medium */

border: 1px solid #E1E4E8;
box-sizing: border-box;
border-radius: 8px !important;
    margin-top: 42px;

    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px !important;
line-height: 24px;
padding:15px !important;
color:#B0B7C3;
/* identical to box height, or 150% */

}

.base-txt{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #BCBCBC;
margin:33px
}
.base-btn{
background: #488BFF;
border-radius: 8px;
Width:161px;
Height:49px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
color: #FFFFFF;

align-items: center;
text-align: center;

}
.cardhandle{
height:500px;
margin-top:35px;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
border-radius:0.8rem;
width:750px;
border:0px;
}